body{
    background-color: rgb(207, 187, 187);
    height: 100vh;
    margin: 0;
}



#container{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(250, 243, 243);
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
    
}

button{
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    color: white;
    background-color: rgb(123, 123, 228);
    
}

button:hover{
    background-color: rgb(102, 102, 230);
    transform: scale(0.98);
}

button:active{
    background-color: rgb(144, 144, 200);
}

#input{
    width: 30%;
    padding: 5px;
    text-align: center;
    margin: 20px 0;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
}

#images{
    text-align: center;
    margin: 20px;
}

#images img{
    width: 150px;
    margin: 5px;
}